body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 30px;
}

/* Section 1 styles */

h1 {
    font-weight: 900;
    font-size: 48px;
    margin-top: 20px;
}

button {
    padding: 10px 30px;
    background-color: #555555;
    color: #f9faf8;
    font-weight: 700;
    font-size: 18px;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: gray;
    cursor: pointer;
}

.section-1 {
    background-color: #1f2937;
    padding: 1em 12em 3em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    justify-content: ;
}

.hero {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-contents {
    padding-right: 50px;
}

.hero-image {
    width: 35em;
    border-radius: 10px;
}

.logo {
    height: 110px;
}

/* Section 2 styles */

.section-2 {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 60px auto;
}

.info {
    max-width: 300px;
}

.text {
    max-width: 250px;
    margin: auto;
}

.info img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 80px;
}

/* Section 3 styles */

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: normal;
    font-style: italic;
    color: #1f2937;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 70px auto;
}

#sign {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937
}

/* Section 4 styles */

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

.section-4 h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.section-4 p {
    margin: 5px 0;
}

.contact {
    background-color: #3882f6;
    width: 50%;
    border-radius: 8px;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 45px 60px;
}

.linkedin {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
}

.linkedin:hover {
    background-color: #f9faf8;
    color: #3882f6;
    border: 2px solid #3882f6;
}

/* Footer */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.github {
    background-color: #1f2937;
}

.github:hover {
    background-color: #f9faf8;
    color: #1f2937;
}

.fa-github {
    margin-right: 5px;
}
